# Node Module
node_modules

# Environment Variables
.env

# Encrypted Notes (WIP)

Just a Notes taking app, with encrypted password. Only works on localhost.

### Why I did this?
To learn more about Express Fundamentals and MongoDB

## Selfhosting
Warning: This is a WIP (Work In Progress ⚒)
1. Install Nodejs v14 from [here](https://nodejs.org/en/)
2. Install Git from [here](https://git-scm.com/)
3. Install MongoDB Community version from [here]
4. Open any console of your choice.
5. Navigate through the console to where you want to clone this repo.
6. Run `git clone https://github.com/WickedWizard3588/Encrypted-Notes.git Notes`
6. Run `cd notes`
8. Run `npm i`
9. Check for no vulnerabilities.
10. Create a `.env` file in the root of your project containing this info
```
mongoURI=mongodb://localhost:27017
dbName=notes
mongoPath=mongodb://localhost:27017/notes
port=8080
```
* Change as per your needs

11. Run `node .` in your console and you're good to go